<header class="header">
    <a class="header-logo" routerLink="/">
        <div class="header-logo-object">
            <span class="top"></span>
            <span class="bot"></span>
        </div>
    </a>
    <nav class="header-menu">
        <li><a routerLink="/" routerLinkActive="active">Dashboard</a></li>
        <li><a routerLink="/insights" routerLinkActive="active">Insights</a></li>
        <li><a routerLink="/pipeline" routerLinkActive="active">Pipeline</a></li>
        <li><a routerLink="/statistics" routerLinkActive="active">Statistic</a></li>
    </nav>
    <div class="header-options">
        <a class="header-notifications" href="https://github.com/Joaovjs/front-beauty-projects/" target="_blank">
            <i class="fab fa-github"></i>
        </a>
        <button class="header-avatar">
            <img src="/assets/images/user2.jpg" alt="João Victor">
        </button>
    </div>
</header>

<div class="header-space"></div>