<header class="header-mobile">
    <div class="header-mobile-left">
        <button class="header-mobile-toggle-sidenav" (click)="openMenuMobile = true">
            <span class="top"></span>
            <span class="mid"></span>
            <span class="bot"></span>
        </button>
    </div>
    <a class="header-mobile-logo" routerLink="/">
        <div class="header-mobile-logo-object">
            <span class="top"></span>
            <span class="bot"></span>
        </div>
    </a>
    <div class="header-mobile-options">
        <button class="header-mobile-avatar">
            <img src="/assets/images/user2.jpg" alt="João Victor">
        </button>
    </div>
</header>

<nav class="header-mobile-sidenav" [ngClass]="{'opened': openMenuMobile }">
    <div 
        class="header-mobile-sidenav-close" 
        [ngClass]="{'opened': openMenuMobile }" 
        (click)="openMenuMobile = false"
    >
        <span class="top"></span>
        <span class="mid"></span>
        <span class="bot"></span>
    </div>
    <div class="header-mobile-sidenav-menu">
        <li><a routerLink="/" routerLinkActive="active">Dashboard</a></li>
        <li><a routerLink="/insights" routerLinkActive="active">Insights</a></li>
        <li><a routerLink="/pipeline" routerLinkActive="active">Pipeline</a></li>
        <li><a routerLink="/statistics" routerLinkActive="active">Statistic</a></li>
    </div>
</nav>

<div class="header-mobile-mask" [ngClass]="{'opened': openMenuMobile }"></div>
<div class="header-mobile-space"></div>